<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.murilocampos.exemplopermissao">

    <!-- Define uma permissão personalizada -->
    <permission
        android:name="curso.exemplos.exemplopermissao.boom.boom_action"
        android:description="@string/exemplo_perm_string"
        android:label="@string/exemplo_perm_label_string">

    </permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:permission="curso.exemplos.exemplopermissao.boom.boom_action">
        <activity android:name=".ExemploActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--  Configura um Intent Filter para a operação perigosa definida pela
                   String "....boom_action"  -->
            <intent-filter>
                <action android:name="curso.exemplos.exemplopermissao.boom.boom_action" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
